<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/page_layout}">

<head>
  <meta charset="UTF-8">
  <title>Recipe App</title>
</head>

<body>
<div layout:fragment="main-content">
  <div class="container">

    <div class="row">
      <div class="col">
        <header class="mt-5 pt-5">
          <h2>
            <span th:text="#{recipeIngredient.add}">Add Recipe Ingredient To Recipe</span>
          </h2>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9">
        <div class="card mb-3">
          <div class="card-body ">

            <form th:action="@{/recipe/add-recipe-ingredient}" th:object="${recipeIngredientForm}" method="post">
              <div class="form-group visually-hidden">
                <input th:field="*{id}" id="id" name="id" type="number"/>
              </div>
              <div class="form-group">
                <label for="recipeIngredientId"><h5>Recipe : </h5></label>
                <select th:field="*{recipeIngredientId}" id="recipeIngredientId" name="recipeIngredientId" class="form-control">
                  <option th:each="recipeIngredient : ${recipeIngredientList}" th:value="${recipeIngredient.id}" th:text="${recipeIngredient.ingredient.ingredientName}"></option>
                </select>
              </div>

              <div>
                <button type="submit" class="btn btn-primary mt-3">
                  <i class="fa-solid fa-check"></i>
                  <span class="d-none d-md-inline">Add</span>
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>

</html>